<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<title> Add a new question</title>
</head>
<body>



<div class="container">
<h1>Add a question</h1>
<div class="col-md-4">
 <form th:object="${question}" th:action="@{../save}" action="#" method="post">
 
  <div>
  <label for="question">Question<input type="text" th:field= "*{title}" class="form-control"></label>
  </div>
 
  <div>
  <label for="type">Type</label>
   <select th:field="*{type}" class="form-control">
 	<option th:value="text" th:text="Avoin"></option>
 	<option th:value="checkbox" th:text="Monivalinta"></option>
 </select>
  <br> <br>


  </div>
 <input type="submit" value="Save"  class="btn btn-success"></input>
 
 <input type="hidden" id="questionid"  th:field="*{questionid}">
 
 </form>
</div>


<br>


</div>


</body>
</html>