<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<title>formtest</title>
</head>
<body>

	<h1>Questions</h1>
	
	<table>
	<tr th:each="question : ${questions}">
	<td th:text="${question.title}"/></td>
	<td th:text="${question.answer}"/></td>
	<td> <input/></td>
	</tr>
	</table>
	
	<a href="/add" class="btn btn-primary">Add a new question</a><br><br>

</body>
</html>